.wrapper
  .container
    %article.article
      .main
        = yield

      .side
        %ul
        - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
          %li
            %h3= year
            %ul
              - articles.each do |article|
                %li
                  %a{:href => article.url}= article.title