---
title     : RubyHiroba 2014
bodyclass : ann-incident-03
layout    : layout
---

#main
  #header-small
    #header-cover
  #logo-small.container
    %a{:href => "/2014/index.html"}
      %img{:src => "/2014/images/logo-small.png", :alt => "RubyHiroba 2014"}
  .content
    .text
      :markdown
        ## RubyHiroba 2014でのアンチハラスメントポリシー抵触問題について(第3報)

        標記の件についての、RubyHiroba 2014運営チームとしての見解として、今後のアクションプランについてお知らせします。

        1. 他のイベント運営者との情報共有体制を確立する
        1. 次回開催時での運営スタッフの迅速な判断への備えを行う

        これらの手段で、できる限りの再発防止と適切な対応を進めていきます。

        ### 他のイベント運営者との情報共有体制を確立する

        ハラスメント問題が発生しない土壌を作りと知見の共有のため、日本での他のイベント運営者との情報共有体制を確立する。

        - Rubyに関するコミュニティイベントである地域Ruby会議運営者
        - Ruby以外の技術技術コミュニティのカンファレンス運営者

        ### 次回開催時での運営スタッフの迅速な判断への備えを行う

        アンチハラスメントポリシーの改訂および運営スタッフの行動基準の明確化で、迅速に対応できるようにする。

  .content.footer
    .text
      = partial 'sns'
      .copy
        &copy;2014 RubyHiroba
