---
title     : RubyHiroba 2014
bodyclass : ann-incident-02
layout    : layout
---

#main
  #header-small
    #header-cover
  #logo-small.container
    %a{:href => "/2014/index.html"}
      %img{:src => "/2014/images/logo-small.png", :alt => "RubyHiroba 2014"}
  .content
    .text
      :markdown
        ## RubyHiroba 2014でのアンチハラスメントポリシー抵触問題について(第2報)

        RubyHiroba 2014のLTthonにて、2件「アンチハラスメントポリシーに抵触するのではないか」と協議になった発表がありました。

        RubyHiroba 2014のLTthonとは、事前応募者と、当日飛び入りの参加者が5分間のライトニングトークを次々に発表していくスタイルのプレゼンテーションセッションです。

        2件の発表のうち、1件はアンチハラスメントポリシーに明確に抵触したと運営チームで判断しました。もう1件については、協議の結果としてアンチハラスメントポリシーに抵触すると明確に判断するには至りませんでした。しかし、運営チーム内での協議や当事者への申し入れを行いました。こちらは参考のために記録します。

        ### アンチハラスメントポリシーに関するRubyHiroba 2014の運営

        * RubyHiroba 2014のアンチハラスメントポリシーを[Webサイトに掲載](http://rubyhiroba.org/2014/anti-harassment-policy)し、LTthonの事前応募フォームにリンクを掲載していた。
        * RubyHiroba 2014のアンチハラスメントポリシーの内容は、[RubyKaigi 2014のもの](http://rubykaigi.org/2014/anti-harassment-policy)とほぼ同様のものとしていた。
        * LTthonの事前発表者、参加者に対してアンチハラスメントポリシーの存在を個別に周知するような活動は行なっていなかった。
        * LTthonの発表について、事前応募者については以下の3点の提出を依頼していた。応募された発表内容について、事前審査などは行っていない。
         * 応募者の識別子(twitterアカウントなど)
         * 発表タイトル
         * 連絡先メールアドレス
        * LTthonの発表について、当日飛び入りの発表者については、応募者の識別子をホワイトボードに記入する形式でエントリしてもらっていた。発表内容やタイトルについて事前の審査などは行わなかった。
        * アンチハラスメントポリシーに抵触する内容に遭遇した場合には、司会の判断で発表を止める、という運用方針について、前日までに運営側で確認していた。

        ### ケース1: 「sexual images in public spaces」を参照するスライドの提示

        * 司会が「アンチハラスメントポリシーに抵触するのではないか」と思うような内容が発表スライドに含まれていた。
        * 発表が終了するまでに、司会がアンチハラスメントポリシーへの抵触にもとづいて中止の判断を下すことはできなかった。
        * 発表終了後に、参加者から「アンチハラスメントポリシーに抵触するのではないか」と運営チームに対して指摘があった。
        * 発表終了後に、発表者へ確認のためにスライドを提出してもらい、運営チームで内容を確認した。
        * 協議の結果、アンチハラスメントポリシー("sexual images in public spaces"の部分)に抵触すると判断した。
        * 発表者には発表スライドの公開を差し控えることを要請した。

        ### (参考)ケース2: 「physical appearance」に言及する発表

        * 司会が「アンチハラスメントポリシーに抵触するのではないか」と思うような内容が発表スライドに含まれていた。
        * 発表が終了するまでに、司会がアンチハラスメントポリシーへの抵触にもとづいて中止の判断を下すことはできなかった。
        * 発表終了後に、参加者から「アンチハラスメントポリシーに抵触するのではないか」と運営チームに対して指摘があった。
        * 発表終了後に、発表者が自身のブログにて発表スライドを公開していたため、発表者に対して一旦資料の公開を中止することを要請した。発表者はこれに同意した。
        * 運営チーム内で、アンチハラスメントポリシー("physical appearance"の部分)に抵触するのではないかと協議したが、結論として明確に抵触すると判断するには至らなかった。
         * しかしながら、元々のアンチハラスメントポリシーを設定した意図としては、このような発表は好ましいとは言えないものだった。
        * 運営チームから発表者に対して、以下の点について連絡を行った。
         * 資料の公開中止要請については取り下げる。
         * 当日の参加者から「聞いていてあまり良い気分のしないトークだった」という旨のフィードバックがあった。

        ### 運営当日についての補足

        * LTthonについて、会場提供企業側で録画を試みてはいたが、機材トラブルによりどの発表も録画されていなかった。
        * LTthonの実施時間帯は、同じ大部屋の隣のエリアに受付と「Hiroba Space」と呼称していた作業スペースがあり、壁を挟んだ部屋の反対側では「生活発表会」(1人20分の持ち時間でのショートプレゼンテーション)と「RailsGirls Tokyo 4th」のワークショップが実施されていた。
        * 参加者からの申し入れ以降、LTthonの実施エリアでは、アンチハラスメントポリシーの遵守を要請するアナウンスを複数回実施するようにした
        * アンチハラスメントポリシーに抵触する発表に遭遇した際の運用(ただちに発表を中止するように発表者に要請する)を司会担当のあいだで確認した

        ### RubyHiroba運営上の課題

        * RubyHirobaというイベントの位置付けについて、事前の説明が不十分だったこと
        * アンチハラスメントポリシーの存在について、事前の理解と周知を求める活動が不十分だったこと
        * アンチハラスメントポリシーに抵触する内容に遭遇した場合に、その場で適切な行動に移せなかったこと
        * 第1報のアナウンスまでに、開催当日から起算して約5日を要してしまったこと

        ### 課題に対する行動方針

        上記の出来事を踏まえて、現在運営チームの関係者で継続して協議をおこなっています。見解が定まりましたら、追ってお知らせいたします。

  .content.footer
    .text
      = partial 'sns'
      .copy
        &copy;2014 RubyHiroba
 
