---
title     : RubyHiroba 2014
bodyclass : ann-incident-03
layout    : layout
---

#main
  #header-small
    #header-cover
  #logo-small.container
    %a{:href => "/2014/index.html"}
      %img{:src => "/2014/images/logo-small.png", :alt => "RubyHiroba 2014"}
  .content
    .text
      :markdown
        ## RubyHiroba 2014でのアンチハラスメントポリシー抵触問題について(第3報)

        標記の件についての、RubyHiroba 2014運営チームとしての見解として、今後のアクションプランについてお知らせします。

        1. 他のイベント運営者との情報を共有する
        1. 参加者にアンチハラスメントポリシーの存在を周知する
        1. 運営スタッフの迅速な判断への備えを行う

        これらの手段で、できる限りの再発防止と適切な対応を進めていきます。

        ### 他のイベント運営者との情報を共有する

        ハラスメント問題が発生しないような土壌を作れるように、日本の他のイベント運営者とその知見と共有します。

        - Rubyに関するコミュニティイベントである地域Ruby会議運営者
        - Ruby以外の技術技術コミュニティのカンファレンス運営者

        ### 参加者にアンチハラスメントポリシーの存在を周知する

        アンチハラスメントポリシーのブラッシュアップを行うとともに、その存在を参加者に周知し、認知を広めます。

        ### 次回開催時での運営スタッフの迅速な判断への備えを行う

        次回開催時に、アンチハラスメントポリシーの改訂にあわせて運営スタッフの行動基準の明確化を行い、迅速に対応できるようにします。

  .content.footer
    .text
      = partial 'sns'
      .copy
        &copy;2014 RubyHiroba
