---
title     : Hirobaスペース | RubyHiroba 2014
bodyclass : index
layout    : layout
---

#main
  #header-small
    #header-cover
  #logo-small.container
    %a{:href => "/2014/index.html"}
      %img{:src => "/2014/images/logo-small.png", :alt => "RubyHiroba 2014"}
  .conetnt
    .text
      :markdown
        # Hirobaスペース

        ## Hirobaスペースとは？

        フリースペースです。電源、椅子、机を用意しています。  
        Rubyist同士で話したり相談したりする他、読書会、ミートアップ会、トークセッションなど、ミニイベントも当日受付方式で開催できます。

  .conetnt.footer
    .text
      = partial 'sns'
      .copy
        &copy;2014 RubyHiroba

