---
title     : LTthon | RubyHiroba 2014
bodyclass : index
layout    : layout
---

#main
  #header-small
    #header-cover
  #logo-small.container
    %a{:href => "/2014/index.html"}
      %img{:src => "/2014/images/logo-small.png", :alt => "RubyHiroba 2014"}
  .conetnt
    .text
      :markdown
        # LTthon

        ## Lightning Talkとは？

        LT(Lightning Talk)とは「Lightning Talks」のこと。持ち時間5分、延長なし、質疑なしのショートプレゼンです（くわしくはこちら）。

        ## LTthonとは？

        LTthonとは、Lightning Talksをマラソンのように続けて行うトラックです。惜しくもRubyKaigiのCFPに漏れてしまった方、RubyKaigiで高まった意識をぶつけたい方、これを機会にスピーカーデビューしてみたい方などにオススメできる発表のチャンスです。

        ## 応募概要

      %ul
        %li 持ち時間は1セッション5分です。延長・質疑応答はありません。
        %li 喋りたい方がいなくなるか、RubyHirobaの終了時刻になるまで続きます。
        %li プロジェクタにスライドを映すことができますが、なくてもかまいません。
        %li
          参加募集ページは、準備ができ次第ご案内します。
          %ul
            %li 応募多数の場合は RubyHiroba 運営による抽選となります。
            %li 当日は飛び入り発表を時間が許すかぎり受け付けます。

  .conetnt.footer
    .text
      = partial 'sns'
      .copy
        &copy;2014 RubyHiroba

