---
title     : LTthon | RubyHiroba 2014
bodyclass : index
layout    : layout
---

#main
  #header-small
    #header-cover
  #logo-small.container
    %a{ href: "/2014/index.html"}
      %img{ src: "/2014/images/logo-small.png", alt: "RubyHiroba 2014"}
  .conetnt
    .text
      :markdown
        # LTthon

        ## Lightning Talkとは？

      %p
        LT(Lightning Talk)とは「Lightning Talks」のこと。持ち時間5分、延長なし、質疑なしのショートプレゼンです（
        %a{ href: "http://shibuya.pm.org/blosxom/common/lightning_talks.html", target: "_blank"}
          くわしくはこちら
        ）。
      
      :markdown
        ## LTthonとは？

        LTthonとは、Lightning Talksをマラソンのように続けて行うトラックです。惜しくもRubyKaigiのCFPに漏れてしまった方、RubyKaigiで高まった意識をぶつけたい方、これを機会にスピーカーデビューしてみたい方などにオススメできる発表のチャンスです。

        ## 応募概要

      %ul
        %li 持ち時間は1セッション5分です。延長・質疑応答はありません。
        %li 喋りたい方がいなくなるか、RubyHirobaの終了時刻になるまで続きます。
        %li プロジェクタにスライドを映すことができますが、なくてもかまいません。

        ## 発表応募

      %ul
        %li
          [応募フォーム](https://docs.google.com/forms/d/17DGwjsTt3cI_6ULNg2AYLDZZz5nfMwjhfXw8fbmf6Oo/viewform)からご登録ください。
          %ul
            %li 応募多数の場合は RubyHiroba 運営による抽選となります。
            %li 当日は飛び入り発表を時間が許すかぎり受け付けます。

  .conetnt.footer
    .text
      = partial 'sns'
      .copy
        &copy;2014 RubyHiroba

