---
title     : 生活発表会 | RubyHiroba 2014
bodyclass : index
layout    : layout
---

#main
  #header-small
    #header-cover
  #logo-small.container
    %a{:href => "/2014/index.html"}
      %img{:src => "/2014/images/logo-small.png", :alt => "RubyHiroba 2014"}
  .conetnt
    .text
      :markdown
        # 生活発表会

        ## 概要

        大江戸 Ruby 会議の伝統コンテンツの生活発表会を RubyHiroba スペシャルとして開催します。生活発表会は、皆さんが普段やっていることを、聴衆に伝える場です。作っているサービスのこと、興味を持っていること、RubyHiroba に参加している人に伝えたいこと、などジャンルは問わず、普段インプットしていることをアウトプットしてみましょう!

        ## 参加募集案内

      %ul
        %li 発表は 20 分のトークです。
        %li 15スロット(5時間)くらいを予定しています。
        %li 応募多数の場合は RubyHiroba 運営による抽選となります。
        %li 参加募集ページはおってご連絡します。

  .conetnt.footer
    .text
      = partial 'sns'
      .copy
        &copy;2014 RubyHiroba

