---
title     : 生活発表会 | RubyHiroba 2014
bodyclass : index
layout    : layout
---

#main
  #header-small
    #header-cover
  #logo-small.container
    %a{:href => "/2014/index.html"}
      %img{:src => "/2014/images/logo-small.png", :alt => "RubyHiroba 2014"}
  .conetnt
    .text
      :markdown
        # 生活発表会

        ## 概要

        大江戸 Ruby 会議の伝統コンテンツの生活発表会を RubyHiroba スペシャルとして開催します。生活発表会は、皆さんが普段やっていることを、聴衆に伝える場です。作っているサービスのこと、興味を持っていること、RubyHiroba に参加している人に伝えたいこと、などジャンルは問わず、普段インプットしていることをアウトプットしてみましょう!

        ## 参加募集案内

      %ul
        %li 発表は 20 分のトークです。
        %li 15スロット(5時間)くらいを予定しています。
        %li 応募多数の場合は RubyHiroba 運営による抽選となります。

      %h2 スケジュール(schedule)

      %h3 10:00-10:20
      %ul
        %li deeeki
        %li freelance, http://deeeki.com/
        %li being with Rails app for 3 years
      %h3 10:20-10:40
      %ul
        %li katryo
        %li Denkinovel作ってます。
        %li Rails3で作り始めたアプリケーションをちょっとずつ改善してゆく道のり
      %h3 10:40-11:00
      %ul
        %li 堀内紀彰
        %li フリーエンジニアとしてスタートアップに参加中。
        %li プロダクト「ランチ定期券」

      %h3 11:00-11:20
      %ul
        %li kenchan
        %li GMOペパボ株式会社
        %li Extending Active Merchant
      %h3 11:20-11:40
      %ul
        %li Keisuke KITA
        %li 2013年に新卒として、GMOペパボに入社。 社内やネットでは、きたけーと呼ばれています。 お仕事で使う言語は、Ruby, PHP, JavaScript。 最近の趣味は豆のスープ作りです。
        %li とあるRailsのECサービスで特別対応をしたときの話
      %h3 11:40-12:00
      %ul
        %li @yasulab
        %li Railsチュートリアルの中の人 / Okinawa.rb 発起人 / ヤスラボ代表。
        %li Railsガイドを公開しました。

      %h3 12:00-12:20
      %ul
        %li いのうえたくや
        %li GMO ペパボ所属。Rails で Web アプリや API などをつくっています
        %li レガシーな Web アプリを Rails で拡張する前に知っておきたい N 個のこと
      %h3 12:20-12:40
      %ul
        %li yancya
        %li 特に何者でも無い、１人の Rubyist です
        %li STI を避けたい
      %h3 12:40-13:00
      %ul
        %li ryopeko
        %li webエンジニア, パーフェクトRuby共著者
        %li Railsにおける外部システムとのスムーズな結合開発

      %h3 13:00-14:00

      休憩

      %h3 14:00-14:20
      %ul
        %li 平川彰
        %li ローカルの人がお薦めするレストラン・フードガイドアプリBurppleを現在シンガポールで開発、運営しております。
        %li 東南アジアでエンジニア
      %h3 14:20-14:40
      %ul
        %li RailsGirls Taiwan(Lena, Annie, Michelle)
        %li We are 3 girls from RailsGirls Taiwan.
        %li Thank you RubyKaigi
      %h3 14:40-15:00
      %ul
        %li Sebastian Korfmann
        %li Sebastian Korfmann is a seasoned Web-Engineer from Germany, working for Bulletproof Networks in Australia. A nomad for some time, he's now based in Ho-Chi-Minh City, Vietnam. When he's not travelling around the world to participate in conferences, he's running meet-ups to socialise with the local startup community in Saigon.
        %li Docker private PaaS

      %h3 15:00-15:20
      %ul
        %li takkanm
        %li 永和システムマネジメント
        %li ふつうのシステム開発の今
      %h3 15:20-15:40
      %ul
        %li やまね　ゆりえ
        %li Team yamanekko. mrubyを使って、マイコン上でRubyを動かしてみようプロジェクトを細々とやっています。 主にEclipseをmrubyにも使えるようにするためのプラグインを作っています。
        %li mrubyのデバッガを作ってみた
      %h3 15:40-16:00
      %ul
        %li berobero
        %li データ解析してます
        %li データ解析で割安賃貸物件を探せ！（山手線沿線編）

      %h3 16:00-16:20
      %ul
        %li うさみけんた(ぞ)
        %li 大学が嫌でRuby書いてたら自宅警備を経てPHPの会社に入ってた
        %li PHPの会社でコードを書くこと
      %h3 16:20-16:40
      %ul
        %li Yutaka HARA (yhara)
        %li (株)ネットワーク応用通信研究所
        %li 近況報告
      %h3 16:40-17:00
      %ul
        %li 似非原重雄
        %li Nana Music, Inc.
        %li お金になりにくい言語をやり続ける技術

  .conetnt.footer
    .text
      = partial 'sns'
      .copy
        &copy;2014 RubyHiroba

