---
title     : Rails Girls Tokyo 4th | RubyHiroba 2014
bodyclass : index
layout    : layout
---

#main
  #header-small
    #header-cover
  #logo-small.container
    %a{:href => "/2014/index.html"}
      %img{:src => "/2014/images/logo-small.png", :alt => "RubyHiroba 2014"}
  .conetnt
    .text
      :markdown
        # Rails Girls Tokyo 4th

        ## 概要

        4回目となるRails Girls Tokyoを開催します。  
        Rails Girls とは、Railsを知らない女性(Girls)に1日でdeployまで体験してもらうワークショップです。わからないことは、コーチが教えてくれたり、一緒に悩んでくれたり、楽しく過ごしながら、初Railsアプリケーションを一緒に作りましょう!

        ## 参加募集案内

      %ul
        %li 朝から夕方までの1日を予定しています。
        %li 応募多数の場合には、抽選となります。
        %li 参加募集、コーチ募集ページは公開後ご連絡します。

  .conetnt.footer
    .text
      = partial 'sns'
      .copy
        &copy;2014 RubyHiroba

