---
title     : toRuby & guRuby 出張版| RubyHiroba 2014
bodyclass : index
layout    : layout
---

#main
  #header-small
    #header-cover
  #logo-small.container
    %a{ href: "/2014/index.html"}
      %img{ src: "/2014/images/logo-small.png", alt: "RubyHiroba 2014"}
  .content
    .text
      :markdown
        # toRuby & guRuby 出張版

        ## 概要

        いつものtoRubyとguRubyの勉強会をすこし豪華にして行います。豪華なゲストと一緒に勉強会を楽しみましょう。

        toRubyは"なるほどUnixプロセス ― Rubyで学ぶUnixの基礎"、guRubyは"メタプログラミングRuby"を勉強します。

      :markdown
        ## 参加方法

      %p
        doorkeeperからの申し込みをお願いします。
        %a{ href: "http://toruby.doorkeeper.jp/events/14368", target: "_blank"}
          http://toruby.doorkeeper.jp/events/14368

  .content.footer
    .text
      = partial 'sns'
      .copy
        &copy;2014 RubyHiroba

