---
title:    Booth | RubyHiroba 2013
bodyclass: booth
---

%h1.logo2
  = image_tag 'logo2.png', alt: 'RubyHiroba 2013'

= partial 'nav'

.wrapper
  .container
    %article.article
      .detail
        .image
          <i class="icon-flag"></i>
        .text
          :markdown
            ## Booth
            We will have open space for community booth or Project booth for Ruby relate activity.<br>
            You can open shop of your activity and will meet people who has interest on your activity.<br>
            Also you can distribute stickers, swags or etc. each booth is for seated 2 people.<br><br>

            RubyHirobaでのブース出展を募集します。

            ブースについては地域RubyコミュニティやRubyに関連するプロジェクト、個人や団体にスペースをご用意します。

            ブースを構える事で多くの方にあなたの活動を知ってもらったり、ステッカーなどを頒布するなど交流の機会になるでしょう。

            みなさまのご応募をお待ちしております。

            ### ブース出展時間帯
            [schedule](schedule.html) の通り、Hirobaというところで、

            10:30〜13:30までのブース前半<br>
            14:00〜17:00までのブース後半<br>
            の2枠交代制になっています。 <br>この時間のなかで、展示をしたり、催し物を行ったり、参加者とコミュニケーションをとったりしてお楽しみください。

            事前にRubyHirobaの参加登録をお済ませください。<br>
            ブース出展者も参加登録が必要ですので、[http://rubykaigi.tdiary.net/20130511.html#p01](http://rubykaigi.tdiary.net/20130511.html#p01) をご参照の上、登録をお願いします。

            ### 応募方法
            <p class="app_btn"><a href="https://docs.google.com/forms/d/1OYV_-fOdfMtXxEU19e0NJTP17qzvy9GJ2l0EibC02j0/viewform" target="_balnk">Application Form</a></p>
            上記のフォームから応募をお願いします。

            なお応募多数の場合、RubyHirobaスタッフ陣によって出展者を選ばせていただきますので、予めご了承ください。

            ### ブースの備品
            2名が着席できる椅子と机を用意しています。 電源、ネットワークについてはベストエフォートでの提供となります。

            ### ブース出展の注意事項
            物品などの販売はできません。<br>
            机、椅子に直接ペンなどで書いたり、テープを貼ったりしないでください。

            ### 募集締め切りと選考結果の発表について
            <strong>締め切り：5/19(日) 18:00を予定しています<br>
            発表：RubyHiroba Webサイトにて 5/21(火)に各枠の出展ブース発表を予定しています</strong>

            ### お問い合わせ
            不明点などありましたら、[http://rubykaigi.doorkeeper.jp/group_contacts/new](http://rubykaigi.doorkeeper.jp/group_contacts/new) のフォームからお問い合わせください。




