---
title     : druby | RubyHiroba 2013
bodyclass : druby
layout    : layout_2013
---

%h1.logo2
  = image_tag 'logo2.png', alt: 'RubyHiroba 2013'

= partial 'nav'

.wrapper
  .container
    %article.article
      .detail
        .image
          = image_tag 'tutorial.png'
        .text
          :markdown
            ## dRuby Hiroba

            <p class="app_btn"><a href="http://atnd.org/events/39626" target="_blank">Application</a></p>
            (closed)

            ### 当日の資料とコード

            <p><a href="https://github.com/toruby/deluxtoruby" target="_blank">deluxtoruby</a> [Link to Github]</p>


            ### 当日のスライド

          :erb
            <p><a href="http://chaosanc.net/20130602_dRubyHiroba.pdf" target="_balnk">でぃーるびーとは (pdf)</a>　リックサンダース(@_Rick_Thunders)</p>
            <script async="async" class="speakerdeck-embed" data-id="d6e2d720ad450130d8891ae7af28547f" data-ratio="1.33333333333333" data-ratio="1.41436464088398" src="//speakerdeck.com/assets/embed.js"></script>

            <script async="async" class="speakerdeck-embed" data-id="bd55df10ad660130494f1e599b44c0ef" data-ratio="1.33333333333333" data-ratio="1.41436464088398" src="//speakerdeck.com/assets/embed.js"></script>