---
title:     LTthon | RubyHiroba 2013
bodyclass: ltthon
---

%h1.logo2
  = image_tag 'logo2.png', alt: 'RubyHiroba 2013'

= partial 'nav'

.wrapper
  .container
    %article.article
      .detail
        .image
          = image_tag 'ltthon.png'
        .text
          :markdown
            ## LTthon

            RubyHirobaで行うLTthonでのLT（Lightning Talks）出場者を幅広く募集します。

            惜しくもRubyKaigiのCFPに漏れてしまった方、遥々東京まで来たので一言言いたい方、RubyistとしてのLTを第一歩を記したい方など幅広い応募をお待ちしております。

            特に遠方から参加される方、初めてのLTとなる方については特製のTシャツを進呈致しますのでふるってご参加ください。

            みなさまのご応募をお待ちしております。

            ### RubyHirobaでのLTについて
            [schedule](schedule.html) の通り、LTthon AとLTthon Bの2トラック構成で、テーマと事前公募・当日募集の区分ごとにLT枠が組まれています。

            1人あたり持ち時間は5分を予定しています。

            事前にRubyHirobaの参加登録をお済ませください。<br>
            LT出演者も参加登録が必要ですので、[http://rubykaigi.tdiary.net/20130511.html#p01](http://rubykaigi.tdiary.net/20130511.html#p01) をご参照の上、登録をお願いします。

            ### 応募方法
            <p class="app_btn"><a href="https://docs.google.com/forms/d/1IURueY-jWfpLyHoZFb2lD6kknzGK_MVLrqHJU44k9Ds/viewform" target="_balnk">Application Form</a></p>
            上記のフォームから応募をお願いします。

            応募にあたっては、発表タイトル、お名前、希望LT枠のみの選択・記入でOKです。

            なお応募多数の場合、RubyHirobaスタッフ陣によって出演者を選ばせていただきますので、予めご了承ください。

            ### 事前公募LT枠種別
            事前公募では下記３つのLT枠を募集します。

            無差別（時間帯：10:30〜12:00、部屋：A）：テーマフリーの枠です<br>
            English（時間帯：10:30〜12:00、部屋：B）：英語でのLTの枠です<br>
            Beginner（時間帯：13:00〜14:00、部屋：A）: LT初心者向けの枠です。

            ### 事前公募締め切りと選考結果の発表について
            <strong>締め切り：5/19(日) 18:00を予定しています<br>
            発表：RubyHiroba Webサイトにて 5/21(火)に各枠の出場者とタイトル発表を予定しています</strong>

            ### 参考：LightningTalksを知るには
            下記資料を参照すると、LightningTalksとは何か・どのように話をすればいいのかをつかみやすいと思います。

            達人ライトニングトーカーへの道 [http://jibun.atmarkit.co.jp/lcom01/index/index_lt.html](http://jibun.atmarkit.co.jp/lcom01/index/index_lt.htm)（@IT自分戦略研究所）<br>
            初心者向けLTのやり方 [http://ltthon-yapc2012.hachiojipm.org/howto.html](http://ltthon-yapc2012.hachiojipm.org/howto.html)（YAPC::ASIA 2012）

            ### お問い合わせ
            不明点などありましたら、[http://rubykaigi.doorkeeper.jp/group_contacts/new](http://rubykaigi.doorkeeper.jp/group_contacts/new])のフォームからお問い合わせください。




