---
title:     LTthon | RubyHiroba 2013
bodyclass: ltthon
---

%h1.logo2
  = image_tag 'logo2.png', alt: 'RubyHiroba 2013'

= partial 'nav'

.wrapper
  .container
    %article.article
      .detail
        .image
          = image_tag 'ltthon.png'
        .text
          :markdown
            ## LTthon
            CFP is open for Lightning talks on RubyHiroba.<br>
            Any talks will be welcomed ever you lost for CFP of RubyKaigi. <br>
            If you will come from outside Tokyo or Japan We will give our T-shirts.<br><br>

            ## LTthon TIME TABLE を公開しました

            <p class="app_btn"><a href="/2013/ltthon_time.html">LTthon TIME TABLE</a></p>

            事前募集分LT発表者リストを更新しました。

            ## LT出演者募集について - 当日発表もあります！

            **事前公募のLTthonの募集は終了いたしました。**

            [schedule](/2013/schedule.html) をご参照の上、是非当日発表をしましょう！

            1人あたり持ち時間は5分を予定していますので、惜しくもRubyKaigiのCFPに漏れてしまった方、遥々東京まで来たので一言言いたい方、RubyistとしてのLTを第一歩を記したい方など幅広い応募をお待ちしております。

            また、遠方から参加される方、初めてのLTとなる方については特製のTシャツを進呈します。

            ### 発表にあたっての注意事項

            LT登壇者も [http://rubykaigi.doorkeeper.jp/events/3509](http://rubykaigi.doorkeeper.jp/events/3509) から参加登録をお願いします。<br>
            発表はOrder順です。<br>
            もし順番が回ってきた時にいらっしゃらなければ、次の人に先に発表していただきます。<br>
            時間枠及び進行の都合上、順番が回って来ない場合もありますがあしからずご容赦ください。


            ### お問い合わせ

            [http://rubykaigi.doorkeeper.jp/group_contacts/new](http://rubykaigi.doorkeeper.jp/group_contacts/new) のフォームからお問い合わせください。




