---
title:     p4d | RubyHiroba 2013
bodyclass: p4d
---

%h1.logo2
  = image_tag 'logo2.png', alt: 'RubyHiroba 2013'

= partial 'nav'

.wrapper
  .container
    %article.article
      .detail
        .image
          = image_tag 'p4d.png'
        .text
          :markdown
            ## P4D (デザイナー向けプログラム部)
            [P4D (デザイナー向けプログラム部)](http://prog4designer.github.io) はデザイナーとプログラマーで集まって Web や アプリをつくったりデザインやプログラミングについて相談したりするコミュニティです。

            RubyHiroba 2013 では Web デザインを学びたい Rubyist のためのワークショップを実施します。


            **ワークショップに参加される方は、可能であれば事前に以下のリポジトリの clone し、bundle install まで済ませてください！**  
            (やり方がわからない場合は、当日、開始前に聞いていただければ出来る範囲でお手伝いします。)

            - [https://github.com/prog4designer/zurui-hands-on](https://github.com/prog4designer/zurui-hands-on)


            ### 内容

            - ズルいデザイン実践講座 by @ken_c_lo
            - Web サイト、Web サービスの相談事コーナー


            ### 対象

            Web デザインのスキルを身につけたい Rubyist


            ### 持ち物

            実際に手を動かしてデザインを学ぶ課題を準備しますので、**無線 LAN に接続が出来る PC / Mac** をお持ちください。

            ご自身で作られた Web サイトやサービスのデザイン相談をご希望の方は**サイト / サービスの簡単な説明と具体的な相談内容**を準備していただけると幸いです。  


            ### 参加方法

            直接会場にお越し下さい。

            参加希望者多数の場合は、座席の都合上先着順となりますのでご了承ください。

            なお、事前に以下のリポジトリを clone し、bundle install まで済ませていただくと、スムーズにご参加いただけると思います。

            ご協力をお願いいたします。

            - [https://github.com/prog4designer/zurui-hands-on](https://github.com/prog4designer/zurui-hands-on)

