---
title:     p4d | RubyHiroba 2013
bodyclass: p4d
---

%h1.logo2
  = image_tag 'logo2.png', alt: 'RubyHiroba 2013'

= partial 'nav'

.wrapper
  .container
    %article.article
      .detail
        .image
          = image_tag 'p4d.png'
        .text
          :markdown
            ## p4d

            <span class="ja">デザイナーとプログラマーで集まって Web や アプリをつくったりデザインやプログラミングについて相談したりする会です。</span>

            ### hoge

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros sit amet sollicitudin. Suspendisse pulvinar, velit nec pharetra interdum, ante tellus ornare mi, et mollis tellus neque vitae elit. Mauris adipiscing mauris.




