---
title:     p4d | RubyHiroba 2013
bodyclass: p4d
---

%h1.logo2
  = image_tag 'logo2.png', alt: 'RubyHiroba 2013'

= partial 'nav'

.wrapper
  .container
    %article.article
      .detail
        .image
          = image_tag 'p4d.png'
        .text
          :markdown
            ## P4D (デザイナー向けプログラム部)

            [P4D (デザイナー向けプログラム部)](http://prog4designer.github.io) はデザイナーとプログラマーで集まって Web や アプリをつくったりデザインやプログラミングについて相談したりするコミュニティです。

            RubyHiroba 2013 では Web デザインを学びたい Rubyist のためのワークショップを実施します。


            ### 内容

            - P4D 参加デザイナー作成の Web デザイン課題 (ドリル)
            - Web サイト、Web サービスの相談事コーナー


            ### 対象

            Web デザインのスキルを身につけたい Rubyist


            ### 持ち物

            実際に手を動かしてデザインを学ぶ課題を準備しますので、**無線 LAN に接続が出来る PC / Mac** をお持ちください。

            ご自身で作られた Web サイトやサービスのデザイン相談をご希望の方は**サイト / サービスの簡単な説明と具体的な相談内容**を準備していただけると幸いです。  


            ### 参加方法

            直接会場にお越し下さい。

            参加希望者多数の場合は、座席の都合上先着順となりますのでご了承ください。
