---
title:     RubyHiroba 2013
bodyclass: Coming soon
---

%h1.logo2=image_tag('/images/logo2.png')

= partial 'nav'

.wrapper
  .container
    %article.article
      .intro
        :markdown
          Coming soon...





