---
title:     RubyHiroba 2013
bodyclass: index
---

.container
  %header#header.header
    .header_img.welcome2=image_tag('/images/play_ground.png')
    %hgroup.welcome.header_text
      %h1=image_tag('/images/logo.png')
      %h2 the play field for Rubyists — <span class="date">June 2</span>
      %p at Microsoft Japan Co., Ltd headquarters building 31st floor
    %p.sns
      <span class="fb-like" data-href="http://rubyhiroba.org" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></span>
      <a class='twitter-share-button' data-hashtags='rubyhiroba' data-url='http://rubyhiroba.org/' data-via='rubyhiroba' href='https://twitter.com/share'>
      Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

= partial 'nav'

.wrapper
  .container
    %article.article
      .headline
        .intro
          :markdown
            ## RubyHiroba 2013, the play field for Rubyists — June 2

            RubyHiroba 2013 is a single day, multi-tracked(it’ll be 3 - 4 tracks, we hope) Ruby related event which will be held in downtown Tokyo, in front of Shinagawa St. on the day after RubyKaigi 2013 — June 2.

            Hiroba<span class="ja">(広場)</span> means ‘play field’ in Japanese. You rubyists can find many chances to hang out, join some workshop, tutorial, BOF, give a lightning talk and talk to awesome rubyist come from all around the world!

            RubyHiroba is free to join! it’s totally supported by Microsoft Japan Co., Ltd. <3

            If your company is also interested to support this event, please drop us a line to 2013 at rubykaigi dot org. We’re planning to ready some sponsor packages for RubyHiroba 2013 (it’ll be independent with RubyKaigi 2013’s).

        .notice
          .tags
            :markdown
              ### Tags

            For Twitter:
            %a{:href => "http://twitter.com/search?q=%23rubyhiroba", :target => "_blank"} #rubyhiroba

          .news
            %h3 News
            %ul
            - blog.articles[0...3].each do |article|
              %li.ja
                %a{:href => article.url}= article.title


        .workshop
          :markdown
            ## work shop

          .p4d
            .image=image_tag('/images/p4d.png')

            :markdown
              ### p4d

              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros sit amet sollicitudin. Suspendisse pulvinar, velit nec pharetra interdum, ante tellus ornare mi, et mollis tellus neque vitae elit. Mauris adipiscing mauris.

              <p class="more_btn"><a href="/p4d.html">more info</a></p>

          .tutorial
            .image=image_tag('/images/tutorial.png')

            :markdown
              ### Ruby Tutorial

              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros sit amet sollicitudin. Suspendisse pulvinar, velit nec pharetra interdum, ante tellus ornare mi, et mollis tellus neque vitae elit. Mauris adipiscing mauris.

              <p class="more_btn"><a href="/tutorial.html">more info</a></p>

          .ltthon
            .image=image_tag('/images/ltthon.png')

            :markdown
              ### LTthon

              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros sit amet sollicitudin. Suspendisse pulvinar, velit nec pharetra interdum, ante tellus ornare mi, et mollis tellus neque vitae elit. Mauris adipiscing mauris.

              <p class="more_btn"><a href="/ltthon.html">more info</a></p>

          .andmore
            .image=image_tag('/images/railsgirls.png')

            :markdown
              ### and More...

              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros sit amet sollicitudin. Suspendisse pulvinar, velit nec pharetra interdum, ante tellus ornare mi, et mollis tellus neque vitae elit. Mauris adipiscing mauris.

        .moreinfo
          .register

            :markdown
              ### Register

              RubyHiroba 2013 is FREE event but you have to register your info via doorkeeper.jp!!
              <a href="http://rubykaigi.doorkeeper.jp/events/3509" target="_blank">http://rubykaigi.doorkeeper.jp/events/3509</a>

          .access

            :markdown
              ### Access

              <a href="http://www.microsoft.com/ja-jp/mscorp/branch/new/en.aspx" target="_blank">Microsoft Japan Co., Ltd headquarters building 31st floor</a>
              <br>
              <a href="" target="_blank">Google Map</a>



