---
title:     RubyHiroba 2013
bodyclass: schedule
---

%h1.logo2=image_tag('/images/logo2.png')

= partial 'nav'

.wrapper
  .container
    %article.article
      :markdown
        ## SCHEDULE

        ### June 2, 10am - 6pm

        #### p4d

        * when :
        * where :

        #### Ruby Tutorial

        * when :
        * where :

        #### LTthon

        * when :
        * where :

        ## FLOOR MAP





