---
title:     Ruby Tutorial | RubyHiroba 2013
bodyclass: tutorial
---

%h1.logo2=image_tag('/images/logo2.png')

= partial 'nav'

.wrapper
  .container
    %article.article
      .detail
        .image
          %img{:src => "/images/tutorial.png", :alt => ""}/
        .text
          :markdown
            ## tutorial

            <span class="ja">日本語てきすとテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</span>

            ### hoge

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros sit amet sollicitudin. Suspendisse pulvinar, velit nec pharetra interdum, ante tellus ornare mi, et mollis tellus neque vitae elit. Mauris adipiscing mauris.




